%div{:class => "flash", :style => 'display:none;'}
  %div{:id => "address_flash", :class => "message error"}
= form_for [:admin, @address], :remote => true, :html => {:class => 'form', 'data-type' => 'script'} do |f|
  = render 'shared/address_form', :f => f
  = f.hidden_field :user_id
