* {margin:0;padding:0}
.clear { clear: both; height: 0; }

.wat-cf:after {
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.wat-cf {display: inline-block;}

/* Hides from IE-mac \*/
* html .wat-cf {height: 1%;}
.wat-cf {display: block;}
/* End hide from IE-mac */

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}
hr {height: 1px; border: 0; }
p { margin: 15px 0;}
a img { border: none; }

body {
  font-size: 12px;
  font-family: sans-serif;  
}

#container {
  min-width: 960px;
}

#header, #wrapper {
  padding: 0 20px;
}

#header {
  position: relative;
  padding-top: 1px;  
}

#header h1 {
  margin: 0;
  padding: 10px 0;  
  font-size: 26px;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  text-decoration: none;
}

#main {  
  width: 70%;
  float: left;    
}

.actions-bar {
  padding: 10px 1px;
}

.actions-bar .actions {
  float: left;
}

.actions-bar .pagination {
  float: right;
  padding: 1px 0;
}

#sidebar {
  width: 25%;
  float: right;      
}

#sidebar h3 {  
  padding: 10px 15px;
  margin: 0;
  font-size: 13px;
}

#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#sidebar .block .content {
  padding: 0 15px;
}

#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
  display: block;
  padding: 10px 15px;
}

#sidebar .block .sidebar-block, #sidebar .notice {
  padding:10px;
}

#wrapper {
  padding-top: 20px;
}

#main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}

#main .block .content .inner {
  padding: 0 15px 15px;  
}

#main .main p.first {
  margin-top: 0;
}

#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;  
}

#main-navigation {
  width: 100%;
}

#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
  float: left;  
}

#main-navigation ul li {
  margin-right: 5px;
}

#user-navigation ul li {
  padding: 5px 10px;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
}

#main-navigation ul li a {
  font-size: 14px;
  line-height: 14px;
  display: block;
  padding: 8px 15px;
}

.secondary-navigation {
  font-size: 13px;  
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

.secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;  
}

#footer {
  padding-bottom: 20px;
}

/* pagination */

.pagination a, .pagination span, .pagination em {
  padding: 2px 5px;
  margin-right: 5px; 
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}

.pagination em {
  font-weight: bold;  
}

.pagination a {
  text-decoration: none;  
}

/* tables */
.table {
  width: 100%;
  border-collapse: collapse;  
  margin-bottom: 15px;
}

.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

.table th.first {
  width: 30px;
}

.table th.last {
  width: 200px;  
}

.table .checkbox {
  margin-left: 10px;
}

.table td {
  padding: 10px;
}

.table td.last {
  text-align: right;
}

/* forms */

input.checkbox {
  margin: 0;
  padding: 0;
}

.form .group {
  margin-bottom: 15px;
}

.form div.left {
  width: 20%;
  float: left;
}

.form div.right {
  width: 75%;
  float: right;
}

.form .columns .column {
  width: 48%;
}

.form .columns .left {
  float: left;
}

.form .columns .right {
  float: right;
}

.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}

.form label.right {
  text-align: right;
}

.form input.checkbox, .form input.radio {
  margin-right: 5px;
}

.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}

.form label.label {
  display: block;
  padding-bottom: 2px;  
  font-weight: bold;
}

.form div.fieldWithErrors label.label {
  display: inline;
}

.form .fieldWithErrors .error {
  color: red;
}

#error_explanation {
    color: red;
    display: block;
    font-weight: bold;
    border-width: 1px;
    border-style: dashed;
    margin-bottom: 10px;
}

#error_explanation ul {
    margin: 10px 20px;
    padding: 10px;
}

#error_explanation h2 {
    color: red;
}

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

/* lists */

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list li {
  clear: left;
  padding-bottom: 5px;
}

ul.list li .left {
  float: left;  
}

ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}

ul.list li .item {
  margin-left: 80px;
}

ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}

/* box */

#box {
  width: 500px;
  margin: 50px auto;  
}

#box .block {
  margin-bottom: 20px;
}

#box .block h2 {
  padding: 10px 15px;
  margin: 0;  
}

#box .block .content {
  padding: 10px 20px;
}

/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color: #222;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration: none;
}

button.button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}
button.button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html button.button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}

button.button img, a.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}

button.button:hover, a.button:hover {
  background-color:#dedede;
}

button.button:active, a.button:active {
  background-color:#e5e5e5;
}
.text_button_padding{
  color: #222222;
  display: block;
  float: left;
  font-size: 1em;
  line-height: 2em;
  margin: 0 7px 0 0;
  padding: 5px 0 6px 7px;
  text-decoration: none;
}
.link_button{
  cursor: pointer;
}

/*
   activo
   by David Francisco (dmfrancisc[at]gmail.com)

   based on "Drastic Dark" by Juan Maria Martinez Arce (juan[at]insignia4u.com)
*/

.small {
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.4em;
}

.gray {
  color:#999999;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.6em;
}

.hightlight {
  background-color: #ffff88;
  font-weight: bold;
  color: #36393d;
}

a:link, a:visited, a:hover, a:active, h1, h2, h3 { color: #111; }
a { -moz-outline: none; }

body {
  color: #111;
  background: #E5E5E5;
  font-family: helvetica, arial, sans-serif;
}

hr {
  background: #e2e2e2;
  color: #e2e2e2;
}

#header {  
  background: #002134;
}

#header h1 {
  padding: 15px 0;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  text-transform: none;
  letter-spacing: -1px;
  line-height: 1.2em;
  color: #fff;
  text-shadow: #000 1px 1px 2px;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  color: #fff;
}

#user-navigation {
  top: auto;
  bottom: 5px;
  right: 25px;
}

#user-navigation a.logout {
  background: #ccc;
  padding: 1px 4px;
}

#main {
  width: 71%;
  min-width: 845px;
}

#main .block {
  padding-top: 0px;
  background: #fff;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

#main .block .content {
  padding-top: 1px;
}

#main .block .content h2 {
  margin-left: 15px;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-transform: none;
  letter-spacing: -1px;
  line-height: 1.2em;
}

#main .block .content p {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.45em;
}

#sidebar .block h4 {
  font-weight: bold;
  min-width: 250px;
}

#sidebar .notice {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

#sidebar h3 {
  color: #111;
  border-bottom: 1px solid #c0c0c0;
}

#main-navigation ul li {
  padding-left: 15px;
}

#main-navigation ul li a {
  padding: 8px 0;
}

#main-navigation ul li.active {
  padding: 0;
  margin-left: 15px;
}

#main-navigation ul li.active {
  background: #E5E5E5;
  margin-left: 15px;
}

#main-navigation ul li.active a {
  padding: 8px 15px;
}

#sidebar ul li {
  background-position: 15px 11px;
  background-repeat: no-repeat;
  background-image: url("images/arrow.png");
  border-bottom: 1px solid #e2e2e2;
}

#sidebar ul li a {
  text-decoration: none;
  margin-left: 20px;
}

#sidebar ul li a:link, #sidebar ul li a:visited {
  text-decoration: none;
}

#main-navigation {
  background-color: #f4f4f4;
  background-image: url("images/menubar-background.png");
  background-repeat: repeat-x;
}

#main-navigation ul li {
  margin-right: 0;
  padding-left: 15px;
  padding-right: 5px;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
  text-decoration: none;
  color: #111;
}

.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #111;
}

.secondary-navigation {
  background-color: #f2f1ee;
  border-bottom: none;
  border-bottom-width: 5px;
  background-image: url("images/boxbar-background.png");
}

.secondary-navigation ul li.active, .secondary-navigation ul li.active a:hover {
  background-color: #fff;
}

#footer .block {
  text-align: center;
  color: #111;
  background: #fff;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#footer .block p {
  margin: 0;
  padding: 4px;
}

/* pagination */

.pagination a, .pagination span {
  background-color: #f4f4f4;
  background-image: url("images/button-background.png");
  color: #111;
  text-align: center;
  min-width: 15px;
  margin-right: 5px;
  padding: 6px;
  border: 1px solid #c3c4ba;
}

.pagination em {
  background: #002134;
  color: #fff;
  border: 1px solid #002134;
}

.pagination a {
  color: #1a1a1a;
}

.pagination a:hover {
  border: 1px solid #818171;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.pagination a:active {
  background-image: url("images/button-background-active.png");
  outline: none;
}

/* tables */

.table th {
  background: #eaeaea;
  color: #222;
  font-weight: normal;
}

.table td {
  border-bottom: 1px solid #eaeaea;
}

.table tr.even {
  background: #f8f8f8;
}

/* forms */

.form label.label {
  color: #666666;
}

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid #e2e2e2;
}

.form input:hover, .form textarea:hover {
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #a2a294;
}

.form input:focus, .form textarea:focus {
  border: 1px solid #a2a294;
}

.form input.button {
  background: #e2e2e2;
  border: 1px solid #c1c1c1;
  padding: 2px 5px;
  cursor: pointer;
  color: #111;
  font-weight: bold;
  font-size: 11px;
}

.form input.button:hover {
  border: 1px solid #666;
}

.form .description {
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em;
}

.form .navform a {
  color: #cc0000;
}

/* buttons */

a.button, button.button {
  background-color: #f4f4f4;
  background-image: url("images/button-background.png");
  border: 1px solid #c3c4ba;
  font-family: helvetica, arial, sans-serif;
  font-weight: normal;
}

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button:link, button.button:visited, button.button:hover, button.button:active {
  font-weight: normal;
  background-color: #f4f4f4;
}

a.button:hover, button.button:hover {
  background-color: #eee;
  border: 1px solid #818171;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

a.button:active, button.button:active {
  outline: none;
  background-color: #ddd;
  background-image: url("images/button-background-active.png");
}

/* flash-messages */
.flash .message {
  text-align:center;
  margin: 0 auto 15px;
}

.flash .message p {
  margin:8px;
}
.flash .error {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
}
.flash .warning {
  border: 1px solid #ffff88;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1fdf00;
  background-color: #bbffb6;
}

/* lists */

ul.list li {
  border-bottom-color: #e2e2e2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul.list li .item .avatar {
  border-color: #e2e2e2;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}

/* box */

#box .block {
  background: #fff;

  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

#box .block h2 {
  background: #002134;
  color: #fff;
}


/* rounded borders */

#main, #main-navigation, #main-navigation li, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li,
#footer .block, .form input.button, #box .block, #box .block h2 {
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
}

.secondary-navigation li.first a, .secondary-navigation ul li.first {
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
}

.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
}

#sidebar, #sidebar .block, #main .block, #sidebar ul.navigation, ul.list li, #footer .block, .form input.button, #box .block {
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-right-radius: 9px;
}

#main .block {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

#main-navigation, .secondary-navigation {
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-left-radius: 9px;

  -moz-border-radius-topright: 9px;
  -webkit-border-top-right-radius: 9px;
  border-top-right-radius: 9px;
}

a.button, button.button, .pagination a, .pagination span {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.flash .message {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.form input.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#user-navigation a.logout {
  -moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  border-radius: 4px;
}


/* Override here any style defined by web-app-theme */
.flash-fade {
  top: 25px;
  right: 25px;
  position: fixed;
  width: 400px; }
.cell-table td{
    height: 23px;
    width: 23px !important;
    min-width: 23px;
    min-height: 23px;
    max-height: 23px;
    max-width: 23px;
    text-align: center;
}
/* default close button positioned on upper right corner */
.modal {
		background-color:#fff;
		display:none;
		width:350px;
		padding:15px;
		text-align:left;
		border:2px solid #333;

		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-box-shadow: 0 0 50px #ccc;
		-webkit-box-shadow: 0 0 50px #ccc;
	}
.modal_dialog, th.sortable, a#clear_selection, tr.user_select, .schedule_editable td{
    cursor: pointer
}
tr.user_select:hover, a#clear_selection:hover, th.sortable:hover{
    text-decoration: underline
}
td.user_selected{
    background-color: red !important;
    opacity:0.8;
}
.flash .alert {
  border: 1px solid #ffff88;
  background-color: #ffffcc;
}
td.modal_dialog.selected{
    background-color:#FAFAFA !important;
}
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 230px;
    font-size:11px;
    background-color: white;
}

ul.dropdown ul li {
    float: none;
}

ul.dropdown ul ul {
    top: 1px;
    left: 99%;
}

ul.dropdown li:hover > ul {
    visibility: visible;
    background-color: #f8f8f8;
}
.dropdown ul li a:hover { background-color: #ffffff; }
.dropdown li ul li a {
  color: #666666 !important;
  font-size: 1.25em !important;
  text-decoration: none !important;
  display: block !important;
  padding: 10px !important;
}
