%div{:class => "flash", :style => 'display:none;'}
  %div{:id => "contact_flash", :class => "message error"}
= form_for contact, :url => update_data_user_path(:data => 'contact'), :remote => true, :html => {:class => 'form', 'data-type' => 'script'} do |f|
  = render 'shared/contact_form', :f => f
