= render 'shared/profile_show', :user => @user
.wat-cf
  - if current_user.id == @user.id
    = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"),
      edit_data_user_path(@user, :data => 'profile'), :class => "button", 'data-edit-profile' => edit_data_user_path(@user, :data => 'profile')