.block
  .content
    %h2.title
      Create your schedule
    .inner.form
      You've been invited to create your schedule for the next month.
      %br
      Login to User Area, mouse over Schedule and click on
      =link_to t("Edit Your Schedule"), edit_schedule_url
      %br
      Left click your mouse button on the cell you'd like to put your number in.
      %br
      To remove the number, left click the mouse button again.
      %br
