%table{:border => 1, :align => 'center'}
  - users.each_with_index do |l, ind|
    %tr
      %td{style: "background-color:#aaa"}
        = ind +1
      - l.each do |item|
        - if item
          - address = item.addresses.order("`primary` DESC").first
          - if opposite_users.include? item.identifier
            - style = "background-color: #00FF00;"
          - else
            - style = (Date.today - address.updated_at.to_date).days > 10.days ? "" : "color:red" rescue ""
        - else
          - style = ""
        %td{:style=> style}
          = item.identifier if item