- if !@shift_numbers.empty?
  %label
    =t("activerecord.labels.number", :default => "Number")
  = select_tag "shift[number]", options_for_select(@shift_numbers, @selected_number)
- else
  =t("personnel.shift.not_available", :default => "No shifts")