.block.notice
  %h3 Tips
  .content
    %p You can manage admin users here.
    %p Several departments can be assigned to one admin user. This will allow admin user to manage users, schedule, and time report within the assigned department(s) only.
