.block.notice
  %h3 Tips
  .content
    %p The number of items per page you set here will be automatically applied to all the pages within this admin panel. You will still have an option to change the number of items per page on a specific page separately.
