.block.notice
  %h3 Simple Block
  .content
    %p
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => check_shifts_path, :target => '_blank'} Missed shifts for previous day
    %li
      %a{:href => close_old_shifts_path, :target => '_blank'} Auto-close shifts
