.block.notice
  %h3 Tips
  .content
    %p
      You can check shifts of users here. The start and end time indicate when the user logged in and when logged out.
      %b Worked, min
      column shows the number of minutes the user actually worked.
    %p
      Use
      %b Missed shifts for previous day
      to check if users of the department assigned to you missed any shifts for the previous day, i.e. didn’t login to Time Report while being in the schedule on that day. Additionally, email should be sent if there were any missed shifts for the past day.
    %p
      %b Auto-close shifts
      option will automatically close shifts that were not closed for some reason. This task should be run automatically by the system, but can be used additionally if needed.
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => missed_admin_shifts_path} Missed shifts for previous day
    %li
      %a{:href => close_old_shifts_path, :target => '_blank'} Auto-close shifts
