.block.notice
  %h3 Tips
  .content
    %p Categories for time report events can be added/modified/deleted here.
    %p
      Each category is assigned to a specific department and will be active and displayed for the users if
      %b Display
      check box is checked.
    %p
      %b Display Order
      will show the number the category is displayed in for users.
    %p
      If you would like to include the category into
      =link_to("Reports", processed_by_person_admin_events_url)
      the box
      %b Report
      should be checked.
