.block.notice
  %h3 Usage
  .content
    %p
      = t("activerecord.attributes.schedule.usage", :default => "Press and hold Control key to select more than one cell")
    %p
      = t("activerecord.attributes.schedule.shift_usage", :default => "Для того чтобы вставить часть рассписания в таблицу - зажмите Shift и кликните левой кнопкой мыши по ячейке. Это ячейка, относительно которой будет вставлятся рассписание.")
.block

