.block
  .content
    %h2.title
      My primary address has been changed
    .inner.form
      %p
        ="# #{@user.identifier}"
        =@user.full_name
      %p
        - addr = @user.addresses.order("`primary` DESC").first
        = addr.street + " " + addr.build.mb_chars.upcase.to_s + ", " + addr.porch.to_s + "/" + addr.nos.to_s