.block.notice
  %h3 Tips
  .content
    %p
      Use
      %b Show
      option to display/edit contact information, profile and address of a user.
    %p
      Use
      %b Edit
      to edit department, identifier (unique number) and login information of a user. Hire date is also set there. If user is leaving, fire date can be chosen there too.
    %p
      %b Print List
      will generate a list of users that have unique numbers and are involved in taxi delivery. The list will contain their address and contact information.
    %p
      %b Delivery List
      will show the list of users that are involved in taxi delivery for the current day.
    %p
      %b T-Shirts
      tab generates the list of T-shirt sizes of users from departments where T-shirt is applicable.
