.block.notice
  %h3 Tips
  .content
    %p
      The number of shifts, overtimes, unpaid, vacation and sick days off is taken from the schedule for the selected month. Make sure you have correct information in the schedule before using this report.
    %p
      Number of shifts and overtimes is based on the norms set for the user on the Schedule page.
    %p
      %b Export
      button will allow you to export the selected report to Excel.
