.block.notice
  %h3 Simple Block
  .content
    %p
      %b Show
      \- display / edit contact information, profile and addresses of a user
    %p
      %b Edit
      \- edit department, identifier and login information of a user
.block
