/* Override here any style defined by web-app-theme */
.flash-fade {
  top: 25px;
  right: 25px;
  position: fixed;
  width: 400px; }
.cell-table td{
    height: 23px;
    min-width: 23px;
    min-height: 23px;
    max-height: 23px;
    text-align: center;
}
/* schedule new style */
.selectable{
    list-style-type: none;
}
.selectable .ui-selecting { background: #FECA40 !important}
.selectable .ui-selected { background: #F39814 !important; color: #fff !important}
.selectable { list-style-type: none; margin: 0; padding: 0 !important}
.selectable li{
    float: left;
    height: 24px;
    padding: 0.5px;
    text-align: center;
    width: 24px;
}
.cells {
    float: left;
    height: 23px;
    margin: 0.5px;
    padding: 0.5px;
    text-align: center;
    width: 23px;
}
#schedule_template {
    width:878px;
}

/* default close button positioned on upper right corner */
.modal {
		background-color:#fff;
		display:none;
		width:350px;
		padding:15px;
		text-align:left;
		border:2px solid #333;

		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-box-shadow: 0 0 50px #ccc;
		-webkit-box-shadow: 0 0 50px #ccc;
	}
.modal_dialog, th.sortable, a#clear_selection, tr.user_select, .schedule_editable td, .schedule_excludable td, .selectable{
    cursor: pointer
}
tr.user_select:hover, a#clear_selection:hover, th.sortable:hover{
    text-decoration: underline
}
.user_selected{
    background-color: red !important;
    opacity:0.8;
}
.flash .alert {
  border: 1px solid #ffff88;
  background-color: #ffffcc;
}
td.modal_dialog.ui-selected{
    background-color: #ccffcc !important;
}
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}

ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 230px;
    font-size:11px;
    background-color: white;
}

ul.dropdown ul li {
    float: none;
}

ul.dropdown ul ul {
    top: 1px;
    left: 99%;
}

ul.dropdown li:hover > ul {
    visibility: visible;
    background-color: #f8f8f8;
}
.dropdown ul li a:hover { background-color: #ffffff; }
.dropdown li ul li a {
  color: #666666 !important;
  font-size: 1.25em !important;
  text-decoration: none !important;
  display: block !important;
  padding: 10px !important;
}
