/* Override here any style defined by web-app-theme */
.flash-fade {
  top: 25px;
  right: 25px;
  position: fixed;
  width: 400px; }
#cell-table td{
    height: 30px;
    width: 30px !important;
    text-align: center;
}
