/* Override here any style defined by web-app-theme */
.flash-fade {
  top: 25px;
  right: 25px;
  position: fixed;
  width: 400px; }
.cell-table td{
    height: 30px;
    width: 30px !important;
    text-align: center;
}
/* default close button positioned on upper right corner */
.modal {
		background-color:#fff;
		display:none;
		width:350px;
		padding:15px;
		text-align:left;
		border:2px solid #333;

		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		-moz-box-shadow: 0 0 50px #ccc;
		-webkit-box-shadow: 0 0 50px #ccc;
	}
.modal_dialog, th.sortable, a#clear_selection, tr.user_select{
    cursor: pointer
}
tr.user_select:hover, a#clear_selection:hover, th.sortable:hover{
    text-decoration: underline
}
td.user_selected{
    background-color: red !important;
    opacity:0.8;
}
.flash .alert {
  border: 1px solid #ffff88;
  background-color: #ffffcc;
}