!!!
%html
  %head
    %title Развозка
    = stylesheet_link_tag "web-app-theme/mobile"
    = javascript_include_tag 'mobile'
    %script{:type => "text/javascript", :src => 'http://maps.googleapis.com/maps/api/js?key=AIzaSyB_oxPL_GF8IVWahj2V0eVcVNMJKkMczHk&sensor=false'}
  %body
    #main
      = yield