!!!
%html
  %head
    %title Zone3000 Staff
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", :cache => true
    = csrf_meta_tag
  %body
    #container
      #box
        = yield
